body{
  margin-left: 40px;
}
#id1 {
  height: 400px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#id2 {
  height: 340px;
  width: 300px;
}
#id3 {
  height: 150px;
  width: 250px;
  margin: 5px;
}

.rd {
  border-radius: 20px;
  margin: 10px;
}
.brg {
  background-color: yellow;
}
.solid {
  border-top: 3px solid #bbb;
}